[submodule "bundle/syntastic"]
    path = bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = git://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "bundle/vim-scriptease"]
    path = bundle/vim-scriptease
    url = https://github.com/tpope/vim-scriptease.git
    ignore = dirty
[submodule "bundle/nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/nerdcommenter"]
    path = vim/bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
